:root {

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

#root,
body,
html {
    height: 100%;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
}

.header button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.header button:hover {
    filter: brightness(0.9);
}

main, .formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.description {
    font-size: 1.25rem;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #e2e2e2;
    color: #242424;
}

form button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

form button:hover {
    filter: brightness(0.9);
}

.productArea {
    width: 100%;
    max-width: 650px;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #333333;
    border-radius: 8px;
    overflow-y: auto;
}

.productArea h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.productArea .item {
    border: 1px solid #555555;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productArea .item .productName {
    cursor: pointer;
}

.productArea .item .itemButtonsArea {
    display: flex;
    gap: 0.5rem;
}

.productArea .item .itemButtonsArea .removeItem {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

.productArea .item .itemButtonsArea .removeItem:hover {
    filter: brightness(0.9);
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width: 700px) {
    form {
        max-width: 100%;
    }

    .productArea {
        max-width: 100%;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}